<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FirstSuite">
    <listeners>
        <listener class-name="api.test.lib.custom.testNG.CustomReporter" />
        <!-- <listener class-name="api.test.lib.CustomMethodInterceptor" /> -->
    </listeners>
    <!-- <test name="ChainingTests">
        <classes>
            <class name="api.test.main.factories.ChainingTestFactory" />
        </classes>
    </test> -->
    <!-- <test name="IndependentTests">
        <classes>
            <class name="api.test.main.factories.IndependentTestFactory" />
        </classes>
    </test> -->
    <!-- <test name="AllInOne">
        <classes>
            <class name="api.test.main.factories.FakeIndepdentTestFactory" />
        </classes>
    </test> -->
    <!-- <test name="AllInTwo">
        <classes>
            <class name="api.test.main.factories.FakeIndepdentTestFactory2" />
        </classes>
    </test> -->
    <test name="AllInThree">
        <classes>
            <!-- <class name="api.test.main.factories.FakeIndepdentTestFactory" /> -->
            <!-- <class name="api.test.main.factories.FakeIndepdentTestFactory3" /> -->
            <class name="api.test.main.factories.IndependentTestFactory" />
            <class name="api.test.main.factories.ChainingTestFactory" />
        </classes>
    </test>
</suite>